Repository Size-Project/Golfie, pull requests merged in 2022-03, with the labels that each got.

#92 닉네임 검증 로직 추가
  frontend/src/app.feature/account/signup/component/SignupProfile.tsx
Labels: feature ✨, frontend 📱

#90 [BE] N + 1 문제 해결
  backend/src/main/java/com/golfie/DataLoader.java
  backend/src/main/java/com/golfie/LocalDataStarter.java
  backend/src/main/java/com/golfie/feed/domain/Feed.java
  backend/src/main/java/com/golfie/feed/domain/FeedRepository.java
  backend/src/main/java/com/golfie/user/domain/User.java
  backend/src/main/java/com/golfie/user/domain/UserRepository.java
  backend/src/main/resources/application-local.yml
  backend/src/test/java/com/golfie/GolfieApplicationTests.java
  backend/src/test/java/com/golfie/acceptance/AcceptanceTest.java
  backend/src/test/java/com/golfie/acceptance/auth/AuthAcceptanceTest.java
  backend/src/test/java/com/golfie/common/util/DatabaseCleanup.java
Labels: backend 🌐

#94 [BE] 라운딩 목록 조회 및 라운딩 조인 기능 구현
  backend/src/docs/asciidoc/rounding.adoc
  backend/src/main/java/com/golfie/common/exception/ErrorCode.java
  backend/src/main/java/com/golfie/rounding/application/RoundingService.java
  backend/src/main/java/com/golfie/rounding/domain/Rounding.java
  backend/src/main/java/com/golfie/rounding/exception/RoundingNotFoundException.java
  backend/src/main/java/com/golfie/rounding/presentation/RoundingController.java
  backend/src/main/java/com/golfie/rounding/presentation/dto/RoundingResponse.java
  backend/src/main/java/com/golfie/rounding/presentation/dto/StyleDto.java
  backend/src/main/java/com/golfie/rounding/presentation/dto/UserDto.java
  backend/src/test/java/com/golfie/acceptance/rounding/RoundingAcceptanceTest.java
  backend/src/test/java/com/golfie/common/fixture/TUser.java
  backend/src/test/java/com/golfie/common/util/DatabaseCleanup.java
  backend/src/test/java/com/golfie/unit/feed/presentation/FeedControllerTest.java
  backend/src/test/java/com/golfie/unit/rounding/application/RoundingServiceTest.java
  backend/src/test/java/com/golfie/unit/rounding/presentation/RoundingControllerTest.java
Labels: feature ✨, backend 🌐

#96 [BE] 라운딩 상세 조회 및 내가 조인한 라운딩 조회 기능 구현
  backend/src/docs/asciidoc/rounding.adoc
  backend/src/main/java/com/golfie/DataLoader.java
  backend/src/main/java/com/golfie/feed/domain/Feed.java
  backend/src/main/java/com/golfie/rounding/application/RoundingService.java
  backend/src/main/java/com/golfie/rounding/domain/Rounding.java
  backend/src/main/java/com/golfie/rounding/domain/RoundingRepository.java
  backend/src/main/java/com/golfie/rounding/presentation/RoundingController.java
  backend/src/main/java/com/golfie/style/domain/Style.java
  backend/src/main/java/com/golfie/user/domain/User.java
  backend/src/test/java/com/golfie/acceptance/rounding/RoundingAcceptanceTest.java
  backend/src/test/java/com/golfie/common/fixture/TUser.java
  backend/src/test/java/com/golfie/common/util/DatabaseCleanup.java
  backend/src/test/java/com/golfie/unit/rounding/application/RoundingServiceTest.java
  backend/src/test/java/com/golfie/unit/rounding/presentation/RoundingControllerTest.java
Labels: feature ✨, backend 🌐

#97 [BE] Style NPE 해결
  backend/src/docs/asciidoc/rounding.adoc
  backend/src/main/java/com/golfie/DataLoader.java
Labels: bug 🐛, backend 🌐
