Repository Size-Project/Golfie, pull requests merged in 2022-01, with the labels that each got.

#7 Feat/auth#4
  backend/build.gradle
  backend/src/main/java/com/golfie/auth/application/AuthService.java
  backend/src/main/java/com/golfie/auth/application/ProviderSelectorFactory.java
  backend/src/main/java/com/golfie/auth/application/SocialProviderSelector.java
  backend/src/main/java/com/golfie/auth/application/dto/TokenDto.java
  backend/src/main/java/com/golfie/auth/infrastructure/OauthUserInfo.java
  backend/src/main/java/com/golfie/auth/infrastructure/SocialLoginStrategy.java
  backend/src/main/java/com/golfie/auth/infrastructure/SocialProvider.java
  backend/src/main/java/com/golfie/auth/infrastructure/dto/KakaoAccessTokenResponse.java
  backend/src/main/java/com/golfie/auth/infrastructure/kakao/KakaoAccount.java
  backend/src/main/java/com/golfie/auth/infrastructure/kakao/KakaoLoginStrategy.java
  backend/src/main/java/com/golfie/auth/infrastructure/kakao/KakaoOauthInfo.java
  backend/src/main/java/com/golfie/auth/infrastructure/kakao/KakaoUserInfo.java
  backend/src/main/java/com/golfie/auth/infrastructure/naver/NaverLoginStrategy.java
  backend/src/main/java/com/golfie/auth/infrastructure/naver/NaverUserInfo.java
  backend/src/main/java/com/golfie/auth/presentation/AuthController.java
  backend/src/main/java/com/golfie/auth/presentation/dto/SocialLoginRequest.java
  backend/src/main/java/com/golfie/auth/util/JwtTokenProvider.java
  backend/src/main/java/com/golfie/user/domain/User.java
  backend/src/main/java/com/golfie/user/domain/UserRepository.java
  backend/src/main/resources/application.yml
  backend/src/test/java/com/golfie/acceptance/AcceptanceTest.java
  backend/src/test/java/com/golfie/acceptance/auth/AuthAcceptanceTest.java
  backend/src/test/java/com/golfie/common/docs/DocumentationBase.java
  backend/src/test/java/com/golfie/common/fixture/TestLoginStrategy.java
  backend/src/test/java/com/golfie/common/fixture/TestProviderDependencyInjector.java
  backend/src/test/java/com/golfie/common/fixture/TestSocialProviderSelector.java
  backend/src/test/java/com/golfie/common/fixture/TestUserInfo.java
  backend/src/test/java/com/golfie/unit/auth/application/AuthServiceTest.java
  backend/src/test/java/com/golfie/unit/auth/presentation/AuthControllerTest.java
Labels: backend 🌐

#20 [FE] 프론트 배포 자동화
  .github/workflows/frontend-dev.yml
Labels: chore 🧹, frontend 📱

#21 프론트 배포 AWS 키 설정
  .github/workflows/frontend-dev.yml
Labels: chore 🧹, frontend 📱

#23 [BE] Jacoco 적용
  backend/build.gradle
  backend/src/main/java/com/golfie/auth/application/SocialProviderSelector.java
  backend/src/main/java/com/golfie/auth/infrastructure/SocialProvider.java
  backend/src/main/java/com/golfie/auth/infrastructure/kakao/KakaoLoginStrategy.java
  backend/src/main/java/com/golfie/auth/util/JwtTokenProvider.java
  backend/src/test/java/com/golfie/common/fixture/TestLoginStrategy.java
  backend/src/test/java/com/golfie/common/fixture/TestSocialProviderSelector.java
  backend/src/test/java/com/golfie/common/fixture/TestUserInfo.java
  backend/src/test/java/com/golfie/unit/auth/application/AuthServiceTest.java
  backend/src/test/java/com/golfie/unit/auth/application/SocialProviderSelectorTest.java
  backend/src/test/java/com/golfie/unit/auth/util/JwtTokenProviderTest.java
Labels: backend 🌐

#28 [BE] 인증/인가 로직 구현 및 유저 조회 API 구현
  .gitignore
  backend/.gitignore
  backend/build.gradle
  backend/src/docs/asciidoc/api-docs.adoc
  backend/src/docs/asciidocs/api-docs.adoc
  backend/src/main/java/com/golfie/auth/application/AuthService.java
  backend/src/main/java/com/golfie/auth/infrastructure/kakao/KakaoLoginStrategy.java
  backend/src/main/java/com/golfie/auth/infrastructure/naver/NaverLoginStrategy.java
  backend/src/main/java/com/golfie/auth/presentation/dto/LoginUser.java
  backend/src/main/java/com/golfie/auth/util/AuthArgumentResolver.java
  backend/src/main/java/com/golfie/auth/util/Authority.java
  backend/src/main/java/com/golfie/auth/util/JwtTokenProvider.java
  backend/src/main/java/com/golfie/auth/util/LoggedInUser.java
  backend/src/main/java/com/golfie/common/config/WebMvcConfig.java
  backend/src/main/java/com/golfie/common/exception/ErrorCode.java
  backend/src/main/java/com/golfie/common/interceptor/LoginInterceptor.java
  backend/src/main/java/com/golfie/user/application/UserService.java
  backend/src/main/java/com/golfie/user/domain/User.java
  backend/src/main/java/com/golfie/user/exception/UserNotFoundException.java
  backend/src/main/java/com/golfie/user/presentation/UserController.java
  backend/src/main/java/com/golfie/user/presentation/dto/UserProfileResponse.java
  backend/src/test/java/com/golfie/GolfieApplicationTests.java
  backend/src/test/java/com/golfie/acceptance/auth/AuthAcceptanceTest.java
  backend/src/test/java/com/golfie/acceptance/user/UserAcceptanceTest.java
  backend/src/test/java/com/golfie/common/docs/DocumentationBase.java
  backend/src/test/java/com/golfie/common/fixture/TestUserInfo.java
  backend/src/test/java/com/golfie/unit/auth/application/AuthServiceTest.java
  backend/src/test/java/com/golfie/unit/auth/presentation/AuthControllerTest.java
  backend/src/test/java/com/golfie/unit/user/application/UserServiceTest.java
  backend/src/test/java/com/golfie/unit/user/presentation/UserControllerTest.java
Labels: backend 🌐

#44 [BE] 로그인 API 구현 및 문서 작성
  backend/src/docs/asciidoc/oauth.adoc
  backend/src/main/java/com/golfie/auth/application/AuthService.java
  backend/src/main/java/com/golfie/auth/presentation/AuthController.java
  backend/src/main/java/com/golfie/auth/presentation/dto/LoginRequest.java
  backend/src/main/java/com/golfie/user/domain/User.java
  backend/src/test/java/com/golfie/acceptance/auth/AuthAcceptanceTest.java
  backend/src/test/java/com/golfie/unit/auth/application/AuthServiceTest.java
  backend/src/test/java/com/golfie/unit/auth/presentation/AuthControllerTest.java
  backend/src/test/java/com/golfie/unit/user/application/UserServiceTest.java
  backend/src/test/java/com/golfie/unit/user/presentation/UserControllerTest.java
Labels: backend 🌐

#40 [FE] 둘러보기 페이지 퍼블리싱 완료
  frontend/src/AppRouter.jsx
  frontend/src/GlobalStyle.js
  frontend/src/assets/fonts/Acumin-Pro.ttf
  frontend/src/assets/fonts/fonts.css
  frontend/src/assets/images/common/1255.png
  frontend/src/assets/images/common/1255@2x.png
  frontend/src/assets/images/common/1255@3x.png
  frontend/src/assets/images/common/icon-search.png
  frontend/src/assets/images/common/message-square.png
  frontend/src/assets/images/common/message-square@2x.png
  frontend/src/assets/images/common/message-square@3x.png
  frontend/src/assets/images/svg/ic-bookmark.svg
  frontend/src/assets/images/svg/ic-heart.svg
  frontend/src/assets/images/svg/ic-message.svg
  frontend/src/component/NavigationBar/NavigationBar.jsx
  frontend/src/component/NavigationBar/styled.jsx
  frontend/src/layout/Feed/FeedAll/FeedAll.jsx
  frontend/src/layout/Feed/FeedAll/styled.js
  frontend/src/layout/Feed/FeedCard/FeedCard.js
  frontend/src/layout/Feed/FeedCard/FeedCardContent.js
  frontend/src/layout/Feed/FeedCard/FeedCardImage.js
  frontend/src/layout/Feed/FeedCard/FeedCardUser.js
  frontend/src/layout/Feed/FeedCard/styled.js
  frontend/src/layout/Feed/FeedHeader.jsx
  frontend/src/layout/Feed/FeedMy/FeedMy.js
  frontend/src/layout/Feed/FeedMy/styled.js
  frontend/src/layout/Feed/FeedTab.jsx
  frontend/src/layout/Feed/FeedTabPane.jsx
  frontend/src/layout/Feed/styled.jsx
  frontend/src/pages/Feed/index.jsx
  frontend/src/pages/Home/styled.jsx
Labels: feature ✨, frontend 📱

#50 [BE] 피드 등록 API 구현 및 문서 작성
  backend/src/docs/asciidoc/feed.adoc
  backend/src/main/java/com/golfie/auth/exception/NotAuthenticatedUserException.java
  backend/src/main/java/com/golfie/auth/util/AuthArgumentResolver.java
  backend/src/main/java/com/golfie/auth/util/JwtTokenProvider.java
  backend/src/main/java/com/golfie/common/config/WebMvcConfig.java
  backend/src/main/java/com/golfie/common/exception/ErrorCode.java
  backend/src/main/java/com/golfie/common/s3/S3Uploader.java
  backend/src/main/java/com/golfie/common/s3/StorageUploader.java
  backend/src/main/java/com/golfie/feed/application/FeedService.java
  backend/src/main/java/com/golfie/feed/domain/Feed.java
  backend/src/main/java/com/golfie/feed/domain/FeedRepository.java
  backend/src/main/java/com/golfie/feed/presentation/FeedController.java
  backend/src/main/java/com/golfie/feed/presentation/dto/FeedCreateRequest.java
  backend/src/test/java/com/golfie/acceptance/feed/FeedAcceptanceTest.java
  backend/src/test/java/com/golfie/common/fixture/TestUploader.java
  backend/src/test/java/com/golfie/common/util/FileUtils.java
  backend/src/test/java/com/golfie/unit/feed/application/FeedServiceTest.java
  backend/src/test/java/com/golfie/unit/feed/presentation/FeedControllerTest.java
  backend/src/test/java/com/golfie/unit/user/presentation/UserControllerTest.java
  backend/src/test/resources/testImage.png
Labels: feature ✨, backend 🌐
