Repository Size-Project/Golfie, pull requests merged in 2022-02, with the labels that each got.

#52 [BE] 피드 조회 API 구현 및 문서 작성
  backend/build.gradle
  backend/src/docs/asciidoc/feed.adoc
  backend/src/main/java/com/golfie/common/config/JpaAuditingConfig.java
  backend/src/main/java/com/golfie/common/domain/BaseTimeEntity.java
  backend/src/main/java/com/golfie/feed/application/FeedService.java
  backend/src/main/java/com/golfie/feed/domain/Feed.java
  backend/src/main/java/com/golfie/feed/domain/FeedRepository.java
  backend/src/main/java/com/golfie/feed/presentation/FeedController.java
  backend/src/main/java/com/golfie/feed/presentation/dto/FeedResponse.java
  backend/src/main/java/com/golfie/user/domain/User.java
  backend/src/test/java/com/golfie/acceptance/auth/AuthAcceptanceTest.java
  backend/src/test/java/com/golfie/acceptance/user/UserAcceptanceTest.java
  backend/src/test/java/com/golfie/common/fixture/TestUserInfo.java
  backend/src/test/java/com/golfie/unit/feed/application/FeedServiceTest.java
  backend/src/test/java/com/golfie/unit/feed/domain/FeedRepositoryTest.java
  backend/src/test/java/com/golfie/unit/feed/presentation/FeedControllerTest.java
  backend/src/test/java/com/golfie/unit/user/domain/UserTest.java
Labels: backend 🌐

#57 [BE] 피드 API 인증/인가 로직 변경
  backend/build.gradle
  backend/src/main/java/com/golfie/auth/exception/NotAuthenticatedException.java
  backend/src/main/java/com/golfie/auth/presentation/dto/CurrentUser.java
  backend/src/main/java/com/golfie/auth/util/AuthArgumentResolver.java
  backend/src/main/java/com/golfie/auth/util/Authentication.java
  backend/src/main/java/com/golfie/common/config/WebMvcConfig.java
  backend/src/main/java/com/golfie/common/domain/GuestUser.java
  backend/src/main/java/com/golfie/feed/application/FeedService.java
  backend/src/main/java/com/golfie/feed/presentation/FeedController.java
  backend/src/main/java/com/golfie/user/domain/User.java
  backend/src/main/java/com/golfie/user/presentation/UserController.java
  backend/src/test/java/com/golfie/unit/feed/application/FeedServiceTest.java
Labels: backend 🌐

#51 [FE] 조인 화면 퍼블리싱
  frontend/src/AppRouter.jsx
  frontend/src/assets/images/common/banner-green-small.png
  frontend/src/assets/images/svg/ic-search.svg
  frontend/src/assets/images/svg/ic-user.svg
  frontend/src/assets/images/svg/tag-cash.svg
  frontend/src/assets/images/svg/tag-user.svg
  frontend/src/component/JoinCard/JoinCardHorizontal.jsx
  frontend/src/component/JoinCard/JoinCardVertical.jsx
  frontend/src/component/JoinCard/styled.jsx
  frontend/src/layout/Join/JoinHeader.jsx
  frontend/src/layout/Join/JoinNewRecommend.jsx
  frontend/src/layout/Join/JoinRecommend.jsx
  frontend/src/layout/Join/JoinSearch.jsx
  frontend/src/layout/Join/styled.jsx
  frontend/src/pages/Join/index.jsx
Labels: feature ✨, frontend 📱

#63 [FE] 빌드 오류 핫픽스
  frontend/src/AppRouter.jsx
Labels: bug 🐛, frontend 📱

#76 Hotfix: 회원가입 수정사항 변경
  frontend/src/pages/Signup/index.jsx
Labels: refactor ⚙️, frontend 📱

#81 [FE] zustand 라이브러리 추가
  frontend/package.json
  frontend/src/AppRouter.jsx
  frontend/src/layout/Feed/FeedCard/FeedCardUser.js
  frontend/src/layout/Feed/FeedCreate.jsx
  frontend/src/layout/Feed/FeedMy/FeedMy.js
  frontend/src/layout/Feed/FeedTab.jsx
  frontend/src/layout/Feed/FeedTabPane.jsx
  frontend/src/layout/Feed/styled.jsx
  frontend/src/pages/Feed/index.jsx
  frontend/src/services/store.intoAPP.js
Labels: feature ✨, frontend 📱

#84 Feature/mypage#70
  frontend/src/AppRouter.jsx
  frontend/src/assets/icons/checkIcon.png
  frontend/src/layout/Header/index.jsx
  frontend/src/layout/Header/styled.jsx
  frontend/src/layout/SignUpHeader/index.jsx
  frontend/src/layout/SignUpHeader/styled.jsx
  frontend/src/pages/My/index.jsx
  frontend/src/pages/My/styled.jsx
  frontend/src/pages/Signup/index.jsx
  frontend/src/pages/Signup/styled.jsx
  frontend/yarn.lock
Labels: feature ✨, frontend 📱

#87 [BE] local 환경 설정
  backend/src/main/java/com/golfie/auth/application/SocialProviderSelector.java
  backend/src/main/java/com/golfie/common/s3/S3Uploader.java
  backend/src/main/resources/application-local.yml
  backend/src/test/java/com/golfie/GolfieApplicationTests.java
Labels: chore 🧹, backend 🌐

#91 SSR 변경 및 깃헙 액션 수정
  frontend/src/app.store/intoAPP/store.intoAPP.ts
Labels: feature ✨, chore 🧹, frontend 📱
